src/.vscode/c_cpp_properties.json
src/.vscode/launch.json
src/.vscode/settings.json
.vscode/c_cpp_properties.json
.vscode/launch.json
.vscode/settings.json
src/build/Debug/outDebug
src/output
src/.vscode/.clang-format
src/true_test.sig
src/outDebug.exe
src/*.o
src/**/*.o
.vscode/
src/.vscode/